@page "/"

<PageTitle>Главная</PageTitle>

<div class="container mt-4">
    <h1 class="text-center mb-4">Добро пожаловать в систему управления заявками</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">О системе</h5>
                    <p class="card-text">
                        Эта система позволяет создавать и управлять заявками на материалы. 
                        Вы можете:
                    </p>
                    <ul>
                        <li>Создавать новые заявки</li>
                        <li>Добавлять материалы в заявки</li>
                        <li>Отслеживать статус заявок</li>
                        <li>Управлять существующими заявками</li>
                    </ul>
                    <a href="/proposals" class="btn btn-primary">
                        Перейти к списку заявок
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
